//
// Print
// --------------------------------------------------

@media print {
    #spark-app,
    #main-container {
        padding: 0 !important;
    }

    #page-overlay,
    #page-loader,
    #page-header,
    #page-footer,
    #sidebar,
    #side-overlay,
    .block-options {
        display: none !important;
    }
}
